Source: oorexx
Section: Interpreted Computer Languages
Priority: optional
Maintainer: Mark Miesfeld <miesfeld@users.sourceforge.net>
Build-Depends: debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.1

Package: oorexx
Architecture: any
Depends: ${shlibs:Depends}
Description:  Open Object Rexx (ooRexx)
 * Note: Installing this package requires the complete removal of any previous ooRexx package. Please purge any
 existing ooRexx package before installation of this package.
 .
 ooRexx is an Open Source project managed by Rexx Language Association (RexxLA) providing a free implementation of Object Rexx.
 ooRexx is distributed under Common Public License (CPL) v1.0.
 Object Rexx is an enhancement of classic Rexx; a powerful, full-featured programming language which has a human-oriented syntax.
 The Open Object Rexx interpreter allows you to write programs procedurally as well as in an object-oriented fashion. Its main benefits include:
    * Easy to use and easy to learn
    * Upwardly compatible with classic Rexx
    * The ability to issue commands to multiple environments
    * Offers powerful functions
    * Based on English-like commands
    * Enhanced with full object orientation
    * Designed for object-oriented programming, and also allows Rexx conventional programming
    * Provides a standard Rexx API to develop external function libraries written in C

